- talk_link =  talk.meetup ? get_meetup_link(talk.link) : talk.link

.card.mbs

  %span.card-denotation ##{ talk.number }

  %h3.h4.twl= link_to talk.title, talk_link

  %ul.list.list--inline.list--inline--xs.list--separated

    - if talk.speaker

      %li.list-item
        %strong= link_to talk.speaker, talk.speaker_link

    %li.list-item
      %strong= talk.date

    - if talk.slides_link
      %li.list-item
        = link_to talk.slides_link, class: 'twb' do
          Slides
