- talk_link =  talk.meetup ? get_meetup_link(talk.link) : talk.link

- if talk.next

  - if talk.unfilled

    .tac
      %p.mtm.tcs.tsi The next talk has not been scheduled, which means it could be you!
      = link_to 'Request to Speak!', '#', class: 'btn btn--s'

  - else

    %h3.h1.twl
      = link_to talk.title, talk_link
      %span.tcs ##{ talk.number }

    %ul.list.list--inline.list--inline--xs.list--separated

      - if talk.speaker

        %li.list-item
          %strong= link_to talk.speaker, talk.speaker_link

      %li.list-item
        %strong= talk.date

      %li.list-item
        %strong 7:00pm
