%a(href="/") &larr; Back to the talks

%ul.team.l-push

  %li.team-member.c-center
    .team-member-avatar.team-member-avatar--logo
      = partial 'shared/envy_logo'
    %h3.team-member-name.l-flush <a href="http://envylabs.com/">Envy Labs</a>
    %p The Design Team

  %li.team-member.c-center
    = image_tag 'jason-vanlue.jpg', alt: 'Jason VanLue', class: 'team-member-avatar'
    %h3.team-member-name.l-flush <a href="http://twitter.com/jasonvanlue">Jason VanLue</a>
    %p Lead Designer

  %li.team-member.c-center
    = image_tag 'nick-walsh.jpg', alt: 'Nick Walsh', class: 'team-member-avatar'
    %h3.team-member-name.l-flush <a href="http://twitter.com/nickawalsh">Nick Walsh</a>
    %p Front-end Developer

  %li.team-member.c-center
    = image_tag 'tim-dikun.jpg', alt: 'Tim Dikun', class: 'team-member-avatar'
    %h3.team-member-name.l-flush <a href="http://twitter.com/tdikun">Tim Dikun</a>
    %p Designer

  %li.team-member.c-center
    = image_tag 'drew-barontini.jpg', alt: 'Drew Barontini', class: 'team-member-avatar'
    %h3.team-member-name.l-flush <a href="http://twitter.com/drewbarontini">Drew Barontini</a>
    %p Front-end Developer

  %li.team-member.c-center
    = image_tag 'justin-mezzell.jpg', alt: 'Justin Mezzell', class: 'team-member-avatar'
    %h3.team-member-name.l-flush <a href="http://twitter.com/justinmezzell">Justin Mezzell</a>
    %p Designer

  %li.team-member.c-center
    = image_tag 'dan-denney.jpg', alt: 'Dan Denney', class: 'team-member-avatar'
    %h3.team-member-name.l-flush <a href="http://twitter.com/dandenney">Dan Denney</a>
    %p Front-end Developer

  %li.team-member.c-center
    = image_tag 'jordan-wade.jpg', alt: 'Jordan Wade', class: 'team-member-avatar'
    %h3.team-member-name.l-flush <a href="http://twitter.com/jjordanwade">Jordan Wade</a>
    %p Front-end Developer
