.talks.l-push

  %h2 Next Talk
  - data.talks.list.each do |t|
    - if t.unfilled
      %article.l-card.talk.talk--upcoming
        %span.talk-num= "##{ t.number }"

        %p.talk-date= t.date
        %p The speaker/topic has not been selected yet.

        = link_to 'Request to speak', 'http://designorlandofl.wufoo.com/forms/request-to-speak/', class: 'btn'
    - elsif t.next
      %article.l-card.talk.talk--upcoming
        %span.talk-num= "##{ t.number }"

        .l-xspace
          %h1.talk-title= link_to "#{t.title}", "#{t.link}"
          - if t.speaker
            %p.talk-author
              by
              = link_to t.speaker, t.speaker_link

        - if t.meetup
          = link_to 'RSVP', "http://www.meetup.com/Design-Orlando/events/#{t.link}", class: 'btn'
        - else
          = link_to t.link_text, t.link, class: 'btn'

  %h2 Past Talks
  - data.talks.list.each do |t|
    - unless t.unfilled || t.next
      %article.l-card.talk
        %span.talk-num= "##{ t.number }"

        %p.talk-date= t.date
        .l-xspace
          - if t.meetup
            %h1.talk-title= link_to "#{t.title}", "http://www.meetup.com/Design-Orlando/events/#{t.link}"
          - else
            %h1.talk-title= link_to "#{t.title}", "#{t.link}"

          - if t.speaker
            %p.talk-author
              by
              = link_to t.speaker, t.speaker_link

        - if t.slides_link
          = link_to 'View Slides', t.slides_link, class: 'btn'

